.link {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;
  margin: 20px;
}

.link.read  {
  background-color: gray;
  text-decoration: line-through;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

span#hotness {
  background-color: red;
}

span#topness {
  background-color: green;
}
